.no-padding {
    padding: 0 !important;
}

.md-subheader.no-padding .md-subheader-inner {
    padding: 2px 0 0 0 !important;
}

md-input-container md-switch {
    margin: 0 10px !important;
}

.primary-fill {
    fill: rgb(63,81,181);
}

.primary-fill-hover:hover {
    fill: rgb(57,73,171);
}

.height-fix {
    height: 100%;
}

md-toolbar .md-icon-button {
    fill: white;
}

md-content {
    background-color: #eee;
}

md-card {
    background-color: #fff;
}

md-card h2:first-of-type {
    margin-top: 0;
}

h2 {
    font-weight: 400;
}

md-sidenav {
    fill: #737373;
}

md-sidenav ng-md-icon {
    position: relative;
    top: 2px;
}

.md-sidenav-left a {
    text-decoration: none;
    color: gray;
}

.md-subheader-inner {
    background-color: white;
}

md-card { 
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.md-chip-input-container .md-errors-spacer {
    display: none;
}

.listbox-container {
    padding-top: 12px;
}

.listbox-container h3 {
    font-size: 17px;
}

.listbox-option {
    padding: 0 6px !important;
}

.listbox-option .md-item-text {
    padding: 8px;
    background: #f0f0f0;
    border-radius: 3px;
}

.listbox-option .md-item-text h3,
.listbox-option .md-item-text p {
    padding: 0;
    margin: 0;
}

.listbox-option .close-icon {
    float: right;
    position: absolute;
    top: 5px;
    right: 10px;
    fill: gray;
    cursor: pointer;
    transition: all 0.2s ease;
}

.listbox-option .close-icon:hover {
    fill: red;
}

.autocomplete-icon {
    padding: 6px 5px 0 5px;
    cursor: pointer;
}

.no-shadows .md-whiteframe-z1 {
    box-shadow: none !important;
}

.green-toaster {
    background-color: green;
}

md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
    color: #1e88e5;
    font-size: 16px;
    background-color: #e3f2fd;
}

md-toolbar.md-table-toolbar .md-toolbar-tools ng-md-icon {
    fill: rgba(0,0,0,.54);
}

.standard-gray {
    fill: rgba(0,0,0,.54);
}

.warning-red {
    fill: #F44336;
}

.filters-dialog {
    background: white;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
        0 13px 19px 2px rgba(0, 0, 0, 0.14),
        0 5px 24px 4px rgba(0, 0, 0, 0.12);
    width: 500px;
}

.filters-dialog-content {
    padding: 15px;
    width: 100%;
}

.filters-dialog-content img {
    height: 300px;
    margin: auto;
}

.filters-dialog-button {
    width: 100%;
}

.filters-dialog .md-errors-spacer, .search-toolbar .md-errors-spacer, .search-toolbar label {
    display: none;
}

.md-fab ng-md-icon {
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
    fill: white;
}

.search-toolbar {
    background-color: #f6f6f6 !important;
    color: #212121 !important;
}

.search-toolbar ng-md-icon {
    fill: #212121 !important;
}

.icon-margin {
    margin-right: 10px;
    margin-top: 2px;
}

.md-nav-item a.md-button {
    width: 100%
}

.divider-margin {
    margin-top: 10px;
}

.small-chips .md-chips {
    font-size: 14px;
    padding: 0 0 4px 3px;
    box-shadow: none;
}

.small-chips .md-chips md-chip {
    border-radius: 14px;
    height: 28px;
    line-height: 28px;
    margin: 4px 4px 0 0;
    padding: 0 8px 0 8px;
}

.fixed-width-30 {
    max-width: 30px;
}

#icon-list-top {
    padding: 5px 0 0 0;
    fill: rgb(66,66,66);
}

#icon-list-bottom {
    padding: 8px 0 0 0;
    fill: rgb(66,66,66);
}

.list-line-3 {
    margin-top: 3px !important;
}

.custom-label {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
}

.custom-label-title {
    padding: 2px 4px 2px 0;
    border-right: 2px solid white;
}
