<md-content class="light-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs layout="column" class="light-padding" ng-class="{'max-width-50': !user.roleUser}">
        <md-card style="min-width: 95%;">
            <img ng-src="/img/home-header.jpg" class="md-card-image" alt="Alimentos alergênicos">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Bem vindo!</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="center center">
                <md-button aria-label="Perfil" flex="50" ng-href="/login" ng-if="!user.roleUser">
                    <md-icon md-svg-icon="login"></md-icon>
                    <span>Entrar</span>
                </md-button>
                <md-button aria-label="Perfil" flex="50" ng-href="/register" ng-if="!user.roleUser">
                    <md-icon md-svg-icon="account-plus"></md-icon>
                    <span>Registrar</span>
                </md-button>

                <md-button aria-label="Pesquisar" flex="50" ng-click="openSearch()" ng-if="user.roleUser">
                    <md-icon md-svg-icon="magnify"></md-icon>
                    <span>Pesquisar</span>
                </md-button>
                <md-button aria-label="Perfil" flex="50" ng-href="/profile" ng-if="user.roleUser">
                    <md-icon md-svg-icon="account-check"></md-icon>
                    <span>Perfil</span>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>

    <div flex-xs flex-gt-xs="50" layout="column" class="light-padding" ng-if="user.roleUser">
        <md-card style="min-width: 95%;">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Últimos alimentos favoritos</span>
                </md-card-title-text>
            </md-card-title>
            <md-list>
                <md-list-item ng-repeat="fav in vm.favorites" class="noright">
                    <img ng-if="fav.food && fav.food.imageId" ng-src="/api/images/{{fav.food.imageId}}" class="big-avatar md-avatar" alt="Imagem do alimento">
                    <span ng-if="!fav.food.imageId" class="small-letter-avatar"><ng-letter-avatar shape="round" data="{{fav.food.name}}" width="40" height="40" fontsize="24"></ng-letter-avatar></span>
                    <p>{{ fav.food.name }}</p>
                    <md-icon class="md-secondary" ng-click="vm.removeFavorite(fav)" md-svg-icon="close"></md-icon>
                </md-list-item>
                <md-list-item class="noright" ng-if="!vm.favorites || !vm.favorites.length">
                    <p>Nenhum alimento favorito</p>
                </md-list-item>
            </md-list>
        </md-card>
    </div>

</md-content>