<md-tabs md-dynamic-height md-border-bottom md-center-tabs md-swipe-content md-stretch-tabs="always" md-selected="vm.selectedTab">
    <md-tab label="Cadastro">
        <md-content layout-padding>
            <md-card>
                <form name="substanceForm">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Cadastro de substâncias</span>
                        </md-card-title-text>
                    </md-card-title>
                    
                    <md-card-content>
                        <div layout-gt-sm="row" class="chip-inside-input-container" layout-align="center end">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Nomes</label>
                                <md-chips ng-model="vm.substance.names" md-removable="true" md-max-chips="10">
                                    <md-chip-template>
                                        <strong>{{$chip}}</strong>
                                    </md-chip-template>
                                </md-chips>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <md-switch class="md-primary no-margin" name="special" ng-model="vm.food.alergenic">
                                    Alergênica
                                </md-switch>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            
                        </div>

                        <h2 class="md-title">Alimentos em que está contida</h2>

                        <autocomplete-with-button query-search="vm.allFood" list="vm.substance.containedInFood" placeholder="Pesquisar um alimento"></autocomplete-with-button>
                        
                        <listbox-options list="vm.substance.containedInFood" primary-property="name" secondary-property="category"></listbox-options>

                    </md-card-content>
                    
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" ng-click="vm.save(vm.substance)" ng-disabled="substanceForm.$invalid">Salvar</md-button>
                        <md-button class="md-raised" ng-click="vm.cleanForm()">Limpar</md-button>
                    </md-card-actions>
                </form>
            </md-card>
            <pre>{{vm.food|json}}</pre>
        </md-content>
    </md-tab>
    <md-tab label="Listagem">
        <md-content layout-padding>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Listagem de substâncias</span>
                    </md-card-title-text>
                </md-card-title>
                
                <md-card-content class="no-padding">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-click="null">
                            <img ng-src="http://placehold.it/40x40" class="md-avatar" alt="Imagem da substância">
                            <div class="md-list-item-text" layout="column">
                                <h3>Nome do alimento / Categoria</h3>
                                <h4>Outros nomes, como este, como aquele, aquele outro</h4>
                                <p>15 Kcal, P: 20g, C: 30g, L: 10g</p>
                            </div>
                            <ng-md-icon icon="expand_more" class="md-secondary" ng-click="null"></ng-md-icon>
                            <ng-md-icon icon="mode_edit" class="md-secondary" ng-click="null"></ng-md-icon>
                            <ng-md-icon icon="delete" class="md-secondary" ng-click="null"></ng-md-icon>
                        </md-list-item>
                        <md-subheader class="md-no-sticky no-padding" flex-offset="10">Substâncias</md-subheader>
                        <md-list-item>
                            <span flex-offset="10">Teste</span>
                        </md-list-item>

                        <div ng-repeat="item in vm.substancePage">
                            <md-list-item ng-click="vm.expand(item)">
                                <img ng-src="http://placehold.it/40x40" class="md-avatar" alt="Imagem da substância">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{item.names.join(', ')}}</h3>
                                </div>
                                <ng-md-icon icon="mode_edit" class="md-secondary" ng-click="vm.edit(item)"></ng-md-icon>
                                <ng-md-icon icon="delete" class="md-secondary" ng-click="vm.remove(item)"></ng-md-icon>
                            </md-list-item>
                            <div ng-show="item.expanded">
                                <md-subheader class="md-no-sticky no-padding" flex-offset="10" ng-show="item.containedInFood.length > 0">Alimentos em que está contida</md-subheader>
                                <md-list-item ng-repeat="subitem in item.containedInFood">
                                    <span flex-offset="10">{{subitem.name}}</span>
                                </md-list-item>
                            </div>
                        </div>
                        
                    </md-list>
                </md-card-content>
            </md-card>
        </md-content>
    </md-tab>
</md-tabs>