<md-tabs md-dynamic-height md-border-bottom md-center-tabs md-swipe-content md-stretch-tabs="always" md-selected="vm.selectedTab">
    <md-tab label="Cadastro">
        <md-content layout-padding>
            <md-card>
                <form name="foodForm">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Cadastro de alimentos</span>
                        </md-card-title-text>
                    </md-card-title>
                    
                    <md-card-content>

                        <div layout="row" layout-padding>
                            <img ng-src="http://placehold.it/150x150" alt="Imagem do alimento" flex="30">

                            <div flex>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Nome principal</label>
                                        <input id="nameInput" ng-model="vm.food.name" ng-required="true">
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row" class="chip-inside-input-container">
                                    <md-input-container class="md-block" md-no-float flex-gt-sm>
                                        <label>Outros nomes</label>
                                        <md-chips ng-model="vm.food.otherNames" md-removable="true" md-max-chips="10">
                                            <md-chip-template>
                                                <strong>{{$chip}}</strong>
                                            </md-chip-template>
                                        </md-chips>
                                    </md-input-container>
                                </div>
                            </div>
                        
                        </div>

                        <h2 class="md-title">Classificação</h2>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block">
                                <md-switch class="md-primary no-margin" ng-model="vm.food.isAlergenic">
                                    Alergênico
                                </md-switch>
                            </md-input-container>
                                
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Categoria</label>
                                <md-select ng-model="vm.food.category" ng-required="true">
                                    <md-option ng-repeat="category in vm.categories" ng-value="category.enum">
                                        {{category.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row" class="chip-inside-input-container">
                            <md-input-container class="md-block" md-no-float flex-gt-sm>
                                <label>Tags</label>
                                <md-chips ng-model="vm.food.tags" md-autocomplete-snap md-transform-chip="vm.transformChip($chip)">
                                    <md-autocomplete
                                        md-selected-item="vm.selectedTextTag"
                                        md-search-text="vm.searchTextTag"
                                        md-items="item in vm.tags"
                                        md-item-text="item.description"
                                        placeholder="Search for a tag">
                                        <span md-highlight-text="vm.searchTextTag">{{item.description}}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span><strong>{{$chip.description}}</strong></span>
                                    </md-chip-template>
                                </md-chips>
                            </md-input-container>
                        </div>
                        
                        <h2 class="md-title">Valor nutricional</h2>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Valor calórico</label>
                                <input ng-model="vm.food.calories" numbers-only integer="10" decimal="2" append-unit="Kcal" append-location="after">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Carboidratos</label>
                                <input ng-model="vm.food.carbs" numbers-only integer="10" decimal="2" append-unit="g" append-location="after">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Proteínas</label>
                                <input ng-model="vm.food.proteins" numbers-only integer="10" decimal="2" append-unit="g" append-location="after">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Lipídios</label>
                                <input ng-model="vm.food.lipids" numbers-only integer="10" decimal="2" append-unit="g" append-location="after">
                            </md-input-container>
                        </div>

                        <h2 class="md-title">Alimentos relacionados</h2>

                        <autocomplete-with-button query-search="vm.queryFood" list="vm.food.relatedFood" placeholder="Pesquisar um alimento"></autocomplete-with-button>
                        
                        <listbox-options list="vm.food.relatedFood" categories="vm.categories"></listbox-options>

                        <h2 class="md-title">Substâncias contidas</h2>

                        <autocomplete-with-button query-search="vm.querySubstance" list="vm.food.containedSubstances" placeholder="Pesquisar uma substância"></autocomplete-with-button>
                        
                        <listbox-options list="vm.food.containedSubstances"></listbox-options>

                    </md-card-content>
                    
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" ng-click="vm.save(vm.food, foodForm)" ng-disabled="foodForm.$invalid">Salvar</md-button>
                        <md-button class="md-raised" ng-click="vm.cleanForm(foodForm)">Limpar</md-button>
                    </md-card-actions>
                </form>
            </md-card>
        </md-content>
    </md-tab>
    <md-tab label="Listagem">
        <md-content>
            <md-card>
                <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.selectedRows.length">
                    <div class="md-toolbar-tools">
                        <span>Alimentos</span>
                        <div flex></div>
                        <button class="md-button md-icon-button" ng-click="vm.viewFilters()" md-ink-ripple aria-label="Visualizar filtros">
                            <ng-md-icon icon="filter_list"></ng-md-icon>
                        </button>
                        <button class="md-button md-icon-button" ng-click="vm.loadPage()" md-ink-ripple aria-label="Atualizar">
                            <ng-md-icon icon="refresh"></ng-md-icon>
                        </button>
                    </div>
                </md-toolbar>

                <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedRows.length">
                    <div class="md-toolbar-tools">
                        <div>{{vm.selectedRows.length}} {{vm.selectedRows.length === 1 ? 'item selecionado' : 'itens selecionados'}}</div>
                        <div flex></div>
                        <button class="md-button md-icon-button" ng-click="vm.edit(vm.selectedRows[0])" md-ink-ripple aria-label="Editar">
                            <ng-md-icon icon="mode_edit"></ng-md-icon>
                        </button>
                        <button class="md-button md-icon-button" ng-click="vm.remove(vm.selectedRows)" md-ink-ripple aria-label="Remover">
                            <ng-md-icon icon="delete"></ng-md-icon>
                        </button>
                    </div>
                </md-toolbar>

                <md-table-container>
                    <table md-table md-row-select multiple ng-model="vm.selectedRows" md-progress="vm.loadingPromise">
                        <thead md-head md-order="vm.query.sort" md-on-reorder="vm.loadPage">
                            <tr md-row>
                                <th md-column md-order-by="name"><span>Nome</span></th>
                                <th md-column>Alergênico</th>
                                <th md-column>Categoria</th>
                                <th md-column md-numeric>Calorias (Kcal)</th>
                                <th md-column md-numeric>Carbs (g)</th>
                                <th md-column md-numeric>Proteínas (g)</th>
                                <th md-column md-numeric>Lipídios (g)</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="food" md-select-id="id" md-auto-select ng-repeat="food in vm.foodPage.content">
                                <td md-cell>{{food.name}}</td>
                                <td md-cell>
                                    <ng-md-icon icon="priority_high" ng-if="food.alergenic" class="warning-red"></ng-md-icon>
                                    <ng-md-icon icon="remove" ng-if="!food.alergenic" class="standard-gray"></ng-md-icon>
                                </td>
                                <td md-cell>{{food.category | enumDescription: vm.categories}}</td>
                                <td md-cell>{{food.calories}}</td>
                                <td md-cell>{{food.carbs}}</td>
                                <td md-cell>{{food.proteins}}</td>
                                <td md-cell>{{food.lipids}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>

                <md-table-pagination md-limit="vm.query.size" md-limit-options="[10, 20, 30]" md-page="vm.query.page" md-total="{{vm.foodPage.totalElements}}" md-on-paginate="vm.loadPage" md-page-select></md-table-pagination>
            </md-card>
        </md-content>
    </md-tab>
</md-tabs>